/* Base styling */
body {
  margin: 4;
  font-family: Arial, sans-serif;
  background-color: #cfc5c4;
}

/* Navbar */
.navbar {
  background: #b5aaa8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 50px; 
}

.navbar a {
  text-decoration: none;
  color: #0d0c0c;
  margin-left: 15px;
  font-weight: bold;
}

.nav-right a:hover {
  text-decoration: underline;
}

/* Container */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Section Headings */
h2 {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

/* About Section */
#About {
  margin-top: 20px;
  padding: 20px;
}

#About h2 {
  font-size: 36px;
  font-weight: bold;
  color: #0d0c0c;
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
}

