body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  scroll-behavior: smooth;
}

.hero-section {
  height: 100vh;
  background-color: #444;
  color: white;
  position: relative;
}

.comic-box {
  margin: 20px auto;
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 2px solid #888;
  border-radius: 10px;
  font-size: 22px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#comic-controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}


.image-placeholder {
  height: 1000px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: #666;
  margin-top: 15%;
}

.profile-placeholder {
  height: 150px;
  background: #ccc;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: #555;
}

